<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<title>支付出错</title>
<!--<meta http-equiv='Refresh' content='3;URL=user_order.shtml'>-->
<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('css/pay.css')}}"/>
</head>
</head>
<body style="padding-bottom:70px;">
<div class="container-fluid payInfo">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<img src="{{static_url('images/audioErrorTips.png')}}" class="img-responsive">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center payTips error">
			{{ermsg}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center payTips">
			请重新支付，谢谢！
		</div>
	</div>

</div>
<div class="navbar-fixed-bottom text-center">
	<div><img src="{{static_url('images/zfb.png')}}" class="logo">
	Copyright 2018 from wox. All Rights Reserved.</div>
</div>
</body>
</html>
<style>
	.logo{width: 20px;}
</style>